/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2017, 1:05:00 AM
    Author     : Rifat
*/

body{
    font-family: 'Open Sans', sans-serif;
}
.container-fluid{
    overflow: hidden;
}


/* menu */
.wrapper{
    width: 1100px;
    margin: 0 auto;
}
.wrapper>.menu{}
.wrapper>.menu>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    text-align: center;
}
.wrapper>.menu> ul li{
    display: inline-block;
    padding: 2em 2em 2em 2em;
}
.wrapper>.menu> ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #25242A;
    font-weight: 700;
    font-size: 22px;
}
/* menu */

/* background */

.bg{
    background: url(../images/bg.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.bg>.wrapper{}
.bg>.wrapper>.bg_content{
    width: 350px;
    height: 150px;
    background: white;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.bg>.wrapper>.bg_content> h1{
    margin: 0;
    color: #545050;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 36px;
    padding-top: 25px;
}
.bg>.wrapper>.bg_content> p{
    margin: 0;
    font-weight: bold;
    padding-top: 1em;
}

/* background */

/* schedule */

.wrapper>h1{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 57px;
    letter-spacing: 13px;
    padding-top: 18px;
    color: #4e4d4d;
    padding-bottom: 15px;
}
.wrapper>hr{}
.welcome{}
.welcome>hr{}

.welcome>img{
    width: 190px;
    padding-top: 3em;
    padding-left: 1em;
    float: left;
}
.welcome_drinks{
    padding-left: 50px;
    padding-top: 37px;
    float: left;
    padding-right: 37px;
}
.welcome_drinks>h1{
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 40px;
    color: #615e5e;
}
.welcome_drinks>p{
    margin: 0;
    padding-top: 15px;
    font-size: 20px;
    color: #383636;
    white-space: pre-line;
}
.place_name{
    padding-top: 55px;
}
.place_name>h4{
        margin: 0;
    text-transform: uppercase;
    font-size: 20px;
}
.place_name>p{
   margin: 0;
    white-space: pre-line;
    padding-bottom: 22px;
}
.place_name>h5{
    margin: 0;
    text-transform: uppercase;
    padding-top: 34px;
    font-size: 21px;
}
.place_name>a{
    text-decoration: none;
    border: 2px solid #b5b4b4;
    padding: 3px 51px;
    background: #b5b4b4;
    color: white;
    text-transform: capitalize;
}
.place_name>h6{
    margin: 0;
    text-transform: capitalize;
    padding-bottom: 11em;
}
.ceremony{}
.ceremony>.part1{
    width: 25%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 44px;
}
.ceremony>.part1>h2{
    margin: 0;
    text-transform: capitalize;
}
.ceremony>.part1>p{
    margin: 0;
    white-space: pre-line;
    margin-top: -17px;
}

/* schedule */

/*travel*/

.travel{}
.travel>h1{
    margin: 0;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    letter-spacing: 15px;
    color: #6f6b6b;
}
.travel_container{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.travel_container>img{
    width: 300px;
    height: 173px;
}
.travel_container>h2{
    margin: 0;
    text-transform: uppercase;
    font-size: 31px;
}
.travel_container>p{
    margin: 0;
    white-space: pre-line;
    padding-bottom: 30px;
}
.travel_container>a{
    text-decoration: none;
    border: 2px solid #b5b4b4;
    padding: 3px 51px;
    background: #b5b4b4;
    color: white;
    text-transform: capitalize;
}
.wrapper>h2{
    margin: 0;
    padding-top: 23em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #635d5d;
}
.wrapper>h3{
    margin: 0;
    white-space: pre-line;
    text-align: center;
    text-transform: capitalize;
    margin-top: -16px;
    font-size: 15px;
    color: #888585;
    padding-bottom: 27px;
}
/*travel*/